@media all and (max-width:2000px) {
    .addmission_section .f_left img {
        width: 100%;
        height: 50rem;
    }
    .asked_section .f_right img {
        width: 100%;
        height: 43rem;
    }
    .bottom_to_top_scroll a{
        
        top: 90%;
      
      }
} 





@media all and (max-width:1368px) {
    .fixed_with {
        width: 110rem;
        margin: auto;
    }
    html {
        font-size: 9px;
    }
    .about_section .main_about .right .midd {
        background: #e7f4f6;
        padding: 1.6rem 0rem;
        margin: 1.5rem 0;
    }
    .news_section .flot .inner_box .left_side .image img {
        
        height: 22.7rem;
    }
    .bottom_to_top_scroll a{
        
        top: 96%;
      
      }
    
}
@media all and (max-width:1068px) {
    .fixed_with {
        width: 110rem;
        margin: auto;
    }
    html {
        font-size: 8px;
    }
    .banner_section .full_div h2 {
        font-size: 3.5rem;
        
    }
    .about_section .main_about .right .midd {
        background: #e7f4f6;
        padding: 1.8rem 0rem;
        margin: 1.5rem 0;
    }
    .bottom_to_top_scroll a{
        
        top: 96%;
      
      }
}
@media all and (max-width:968px) {
    .fixed_with {
        width: 100rem;
        margin: auto;
    }
    .news_section .flot .inner_box .left_side .image img {
        height: 23.7rem;
    }
    .footer_section .subscribe .s_content .s_right .email {
       
        padding: 0rem 1rem;
        width: 30rem;
        
    }
    .about_section .main_about .right .midd {
        background: #e7f4f6;
        padding: 2.2rem 1rem;
        margin: 1.5rem 0;
    }
    .about_section .main_about .left .box .last img {
        margin-top: 5rem;
        margin-left: 5rem;
    }
    .about_section .main_about .left .box .last p {
        
        margin-left: 5rem;
    }
    html {
        font-size: 7px;
    }
    .banner_section .full_div h2 {
        font-size: 3.5rem;
        line-height: 5rem;
        margin-top: 5rem;
    }
    .banner_section .full_div p {
       color: #fff;
    }
    .banner_section{
        position: relative;
        z-index: 1;
        overflow: hidden;
        color: #fff;

    }
    .banner_section::after{
       content: '';
       position: absolute;
       top: 0;
       left: 0;
       height: 100%;
       width: 100%;
       background: rgba(0,0,0, .5);
       z-index: -1;
    }
    .about_section{
        margin-top: 6rem !important;
      }
      .banner_section .full_div {
        width: 65%;
        
    }
    .bottom_to_top_scroll a{
        
        top: 97%;
      
      }

    
}


@media all and (max-width:750px) {
    .fixed_with {
        width: 80rem;
        margin: auto;
    }
 
    .footer_section .subscribe .s_content .s_right .submit {
      
        margin-left: 17.5rem;
        
        margin-top: 3rem;
    }
    .footer_section .subscribe .s_content .s_right .email {
        width: 26rem;
    }
    .category_section .carddd {
        
        width: 50%;
    }
    .courses_section .card {
       
        width: 50%;
       
    }
    .footer_section {
       
        height: 68rem;
        
    }
    .footer_section .subscribe .s_content .s_right .email {
        width: 24rem;
       
    }
    .student_section .flot .inner {
        float: left;
        width: 100%;
    }
    .news_section {
        
        height: 191rem;
        
    }

.news_section .flot {
	float: left;
	width: 100%;
}
.news_section .right_side {
	float: right;
	/* width: 45%; */
	width: 100%;
	position: relative;
}
    .about_section .main_about .left {
        width: 100%;
        margin:  auto;
        padding-left: 0 !important;
    }
    .about_section .main_about .right {
        width: 100%;
        margin-top: 6rem;
    }
    .about_section .main_about .left .box .last img {
        margin-top: 5rem;
        margin-left: 2rem;
    }
    .about_section .main_about .left .box .last p {
        
        margin-left: 2rem;
    }
    .asked_section .f_left {
        float: left;
        width: 100%;
        background: #f9f8f8;
    }
    .asked_section .f_right {
        float: right;
        width: 100%;
        /* margin: ; */
        margin-top: 5rem;
    }
    html {
        font-size: 7px;
    }
    .banner_section {
       
        padding: .5rem 0rem 22rem 0rem;
      
    }
    .banner_section .full_div h2 {
        font-size: 2.8rem;
        line-height: 5rem;
        margin-top: 5rem;
    }
    .banner_section .full_div p {
        color: #fff;
        font-size: 1.2rem;
     }
    .dropdwon{
        display: none !important; 
    }
    .header_menu .main_menu .mid ul{
      display: none;
      position: absolute;
      background: #ffff;
      width: 100% !important;
      left: 0 !important; 
      text-align: left;
      padding: 2rem;
      top: 100%;
    }
    .header_menu .main_menu .mid li{
      display: block !important;
      transition: .4s;
      margin-right: 5rem;
      
    }
    .header_menu .main_menu .mid li:hover{
       background: rgb(255, 247, 247);
    }
    .header_menu .main_menu .mid ul li a {
      
        padding-left: 1rem;
    }
    .main_sec.clear {
        padding: 1rem 0rem 1.5rem 0rem;
    }
    .header_top_section .main_sec .left {
        width: 100%;
        text-align: center;
        border: 1px solid #ddd;
        margin-bottom: 1rem;
    }
    .header_top_section .main_sec .right {
        float: right;
        width: 100%;
        text-align: center;
    }
    .header_menu .main_menu .right {
	float: left;
	width: 84%;
	padding: 3rem 0;
	text-align: right;
}
#menu{
    transition: .6s ease;
}

#menu:checked + ul{
    display: block;
    
}
.header_menu .main_menu .mid ul li {
	display: inline-block;
	padding: 2rem 2rem;
	position: relative;
}
 
.addmission_section .f_left {
	width: 100%;
    text-align: center;
}
.addmission_section .f_left img {
	width: 70%;
    margin-bottom: 6rem;
}
.addmission_section .f_right {
	float: right;
	width: 100%;
	background: #f3f8fc;
	text-align: center;
    
}
.asked_section {
	padding: 1rem 0;
	padding-bottom: 5rem;
}

.addmission_section .f_right .inner p {
	
	margin: auto;
}
.addmission_section .f_right .inner {
	padding: 4.8rem 8rem;
}
.bottom_to_top_scroll a{
        
    top: 96%;
  
  }

}

@media all and (max-width:568px) {
    .fixed_with {
        width: 60rem;
        margin: auto;
    }
    .bottom_to_top_scroll a{
        
        top: 95%;
      
      }
     
    .about_section .main_about .left .box .image img {
        margin-top: 5rem;
        width: 12rem;
    }
    .footer_section .subscribe .s_content .s_left h4 {
        
        margin-top: 3rem;
    }
    .footer_section .subscribe .s_content .s_left h2 {
        
        font-size: 2rem;
    }
    .footer_section .subscribe .s_content .s_right .email {
        width: 23rem;
        padding: 0rem 2rem;
    }
    .footer_section .subscribe .s_content .s_right .submit {
      
        margin-left: 17.5rem;
        
        margin-top: 3rem;
    }
    .courses_section .card {
       
        width: 100%;
       
    }
    .asked_section {
        padding: 1rem 0;
        padding-bottom: 5rem;
    }
    .head {
        /* padding: 6rem 1rem; */
        padding-bottom: 6rem;
    }
    html {
        font-size: 6px;
    }
    .banner_section {
       
        padding: .5rem 0rem 17rem 0rem;
      
    }
    .about_section .main_about .right {
    
        margin-bottom: 5rem;
    }
    .category_section .carddd {
        
        width: 100%;
    }
    .inner {
        margin-bottom: 3rem;
        padding-left: 7rem;
    }
    .rr{
        padding-left: 0 !important;
    }
    .footer_section .footer_item .footer_content {
        float: left;
        width: 50%;
    }
    .footer_section {
       
        height: 98rem;
        
    }
    .footer_section .fotter_bottom .flot .part {
        float: left;
        width: 50%;
    }
    .footer_section .fotter_bottom .flot .part_two {
        float: left;
        width: 50%;
    }
    .footer_section .fotter_bottom .flot .part_three {
        float: left;
        width: 100%;
        margin-top: 1rem;
    }
    .footer_section .fotter_bottom .flot .part .inner_part {
        text-align: left;
        padding-left: 8rem;
    }
    /* .teacher_section .flot .box .inner_box .image:hover::after {
        width: 100%;
        height: 100%;
        -webkit-transform: scale(0.8);
        transform: scale(1);
      } */
      .teacher_section .flot .box {
        width: 100%;
        float: left;
    }
    .teacher_section .flot .box .inner_box .image:hover .hover_div h4 {
      
        font-size: 3.3rem;
    }
    .teacher_section .flot .box .inner_box .image:hover::after {
    
        transform: scale(.8);
      }
      .teacher_section .flot .box .inner_box .image:hover .hover_div i {
     
        font-size: 2.5rem;
    }
    .teacher_section .flot .box .inner_box .image .hover_div p {
        font-size: 2.5rem;
    }
    .footer_section .footer_item .footer_content .inner ul li a i {
        font-size: .5rem;
        color: #2abae6;
        position: relative;
        top: -0.2rem;
        margin-right: .7rem;
    }
    
    .footer_section .fotter_bottom .flot .part {
        float: left;
        width: 100%;
    }
    .footer_section .fotter_bottom .flot .part_two {
        float: left;
        width: 100%;
    }
    .footer_section .fotter_bottom .flot .part_three .inner_part {
        text-align: center;
    }
    .footer_section .fotter_bottom .flot .part .inner_part {
        text-align: center !important;
        padding-left: 5rem;
    }
    .footer_section {
        height: 103rem;
    }
}
@media all and (max-width:410px) {
    .fixed_with {
        width: 55rem;
        margin: auto;
    }
    html {
        font-size: 6px;
    }
    .banner_section .full_div h2 {
        font-size: 2.3rem;
        line-height: 4rem;
        /* margin-top: 5rem; */
    }
    .banner_section {
       
        padding: 0rem 0rem 13rem 0rem;
      
    }
    .about_section .main_about .right {
        
        margin-bottom: 5rem;
    }
    .addmission_section .f_left img {
        width: 80%;
        margin-bottom: 6rem;
    }
    .asked_section {
        padding: 1rem 0;
        padding-bottom: 5rem;
    }
    .footer_section .subscribe .s_content .s_left {
        float: left;
        width: 100%;
        text-align: center;
    }
    .footer_section .subscribe .s_content .s_right {
        float: right;
        width: 100%;
        margin-top: 3.5rem;
        text-align: center;
    }
    .footer_section .subscribe .s_content .s_right .submit {
        margin-left: -0.5rem;
        /* margin-top: 3rem; */
    }
    .footer_section .subscribe {
        padding-bottom: 2rem;
    }
    .news_section {
       
     padding-top: 5rem;
     padding-bottom: 0;
      
    }
    .footer_section .subscribe .s_content .s_right {
        
        margin-top: 0.5rem;
      
    }
    .footer_section {
       
        height: 110rem;
        
    }
    .rr{
        padding-left: 0 !important;
    }
    .inner {
        margin-bottom: 3rem;
        padding-left: 6rem;
    }
    .footer_section .fotter_bottom .flot .part .inner_part {
        text-align: left;
        padding-left: 5rem;
    }
    .teacher_section .flot .box {
        width: 100%;
        float: left;
    }
    .teacher_section .flot .box .inner_box .image:hover .hover_div h4 {
      
        font-size: 3rem;
    }
    .teacher_section .flot .box .inner_box .image:hover::after {
    
        transform: scale(.8);
      }
      .teacher_section .flot .box .inner_box .image:hover .hover_div i {
     
        font-size: 2rem;
    }
    .teacher_section .flot .box .inner_box .image .hover_div p {
        font-size: 2rem;
    }
    .footer_section .footer_item .footer_content .inner ul li a i {
        font-size: .5rem;
        color: #2abae6;
        position: relative;
        top: 0rem;
        margin-right: .7rem;
    }
    .footer_section .subscribe .s_content .s_right .submit {
    
        font-size: 1.6rem;
    }
    .footer_section .subscribe .s_content .s_right .submit {
        width: 10rem;
        height: 5rem;
        position: relative;
        top: -2px;
    }
    .footer_section .subscribe {
       
        position: relative;
        top: -86px;
    }
    .footer_section .fotter_bottom .flot .part_two .inner_part p {
       
        font-size: 1.2rem;
      
    }
    .header_menu .main_menu .right .flaticon-bag {
        font-size: 2.2rem;
        padding: 0 1.5rem;
    }
    .header_menu .main_menu .right .flaticon-bag {
     
            font-size: 2.2rem;
            /* padding: 0 1.5rem; */
            padding-top: -8.7rem;
            padding-top: 0rem;
            display: inline-block;
            position: relative;
            top: 0.3rem;
        
    }
    .header_menu .main_menu .right .fa-search {
        font-size: 2.2rem;
        padding-right: 1.5rem;
        position: relative;
            top: 0.3rem;
    }
    .hover-icon:hover .h-main {
       
        top: 273%;
    }
}
